.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 4;
}
.content {
  position: relative;
  inset: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 260px;
  outline: none;
  padding: 0px;
  background: #333333;
  border-radius: 50px;
}
